*
{
  box-sizing: border-box;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('font/OpenSans-Bold-webfont.eot');
    src: url('font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('font/OpenSans-Bold-webfont.woff') format('woff'),
         url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/OpenSans-Semibold-webfont.eot');
    src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff2') format('woff2'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
  margin: 0;
}

h1
{
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 1.25em;
  margin: 6px 0 6px 0;
  padding: 0 0 0 0;
}

p
{
  font-family: 'open_sanslight', Arial, sans-serif;;
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul
{
  list-style-type: none;
}

/* Header style */

header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
font-family: 'open_sansregular', Arial, sans-serif;
  color: black;
}

#logo img
{
  width: 90px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}


nav
{
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

nav ul
{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
}

nav li
{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

nav a 
{
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    color: black;
    text-decoration: none;
}

nav a:hover
{
  border-bottom: 3px solid #0065fc;
  color: #0065fc;
}

#bloc_page
{
  font-family: 'open_sansregular', Arial, sans-serif;
  color: black;
  margin: 0 20px 0 20px;
  width: auto;
  height: auto;
}

/* search section style */

#title_search_bar
{
 margin: 0 20px 25px 20px;
  padding: 0 0 0 0;
}

#search_bar
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid #f2f2f2;
  border-radius: 14px;
}

#icon_localisation
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 0 0 0;
  background-color: #f2f2f2;
  border: 0 0 0 0;
  border-radius: 13px 0 0 13px;
}

#icon_localisation img
{
  width: 20px;
  height: 20px;
}

#destination_search
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: auto;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#destination_search p
{
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 1em;
  width: auto;
  height: 100%;
}

#destination_search input
{
  width: auto;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
  border: none;
  text-decoration: none;
}

#submit_search
{
    display: none;
}

#submit_search p
{
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 0.9em;
  color: white;
}

#submit_search_icon
{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 13px;
}

#submit_search input
{
  width: auto;
  height: auto;
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 0;
}

 #submit_search_icon img
{
  width: 20px;
  height: 20px;
  color: white;
}

/*--------Filter section style---------*/


#filters
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin:25px 0 25px 0;
}

#filters_buttons
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0 0 8px;
}

.buttons
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 45px;
  margin: 0 0 15px 0;
  padding: 0 20px 0 0;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 25px 30px 30px 25px;
}

.buttons a
{
  color: black;
  text-decoration: none;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 1em;
}

.cercle_bleu
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 8px;
  width: 50px;
  height: 45px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #deebff;
  border-radius: 30px;
}

#filters img
{
  width: 20px;
  height: 20px;
}


#info_filters
{
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}

#info_filters img
{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin: 0 8px 0 0;
  padding: 2px;
}




/* Section Herbergement */

#hebergements
{
  display: flex;
  flex-direction: column-reverse;
}

#hebergements_article
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 0 40px 0;
  padding: 0;
  border-radius: 20px;
}

#hebergements_article h1
{
  margin: 0 0 20px 0;
  padding: 0;
}

#results_hebergements
{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0 0 10px 0;
  padding: 0;
}

.result_link
{
  width: 100%;
  height: 180px;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: white;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 1px 3px 9px 1px rgba(209,209,209,0.75);
}

.result_link_img
{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  object-position: 0px -50px;
}

.result_link_img2
{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: fill;
  object-position: 0 -60px;
}

.result_link_img3
{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  object-position: 0 -150px;
}

.result_link a
{
  text-decoration: none;
}

.description_hebergement
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: white;
  position: relative;
  bottom: 71px;
  border: 1px solid white;
  border-radius: 0 0 18px 18px;
  padding: 5px;
}

.description_hebergement h2
{
  margin: 0;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 1em;
  color: black;
}
.description_hebergement p
{
  margin: 0;
  font-family:'open_sanslight', Arial, sans-serif;
  font-size: 0.9em;
  border: none;
  color: black;
}

#more_info
{
  margin: 0;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 1em;
  color: black;
}


/* Section Most popular */

#most_popular
{
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  padding: 40px 20px 20px 20px;
  background-color: #f2f2f2;
}


.results_popular
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.results_popular a
{
width: 100%;
  height: 100%;
  text-decoration: none;
  width: auto;
  height: auto;
}

#title_popular
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 15px 0;
}

#title_popular img
{
  width: 20px;
  height: 20px;
}

#title_popular h1
{
  margin: 0;
  padding: 0;
}

.popular_link
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 140px;
  margin: 0 0 15px 0;
  padding: 0;
  background-color: white;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 1px 3px 9px 1px rgba(209,209,209,0.75);
}

.popular_link_img
{
  width: 40%;
  height: auto;
  border-radius: 18px 0 0 18px;
  object-fit: cover;
}

.description_popular
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: auto;
  padding: 5px 10px 5px 10px ;
  background-color: white;
  border: 1px solid white;
  border-radius: 0 18px 18px 0;
}

.description_popular h2
{
  margin: 0;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 1em;
  color: black;
  margin-bottom: 10px;
}

.description_popular p
{
  margin: 0;
  font-family:'open_sanslight', Arial, sans-serif;
  font-size: 0.9em;
  border: none;
  color: black;
}

/* Section Acitivites */

#activites
{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    width: 100%;
    height: auto;
      margin: 0 0 0 0;
  padding: 40px 20px 40px 20px;
}

#activites_article
{
width: 100%;
height: auto;
}

#results_activites
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 20px 0 0 0;
}

#results_activites a
{
  text-decoration: none;
  width: 100%;
}

.vertical_photo
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 180px;
  margin: 0 0 25px 0;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 9px 1px rgba(209,209,209,0.75);
}

.description_activites
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: white;
  position: relative;
  bottom: 50px;
  border-radius: 0 0 20px 20px;
}

.description_activites h2
{
  margin: 0;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 0.9em;
  color: black;
}

.activites_link_img
{
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 18px 18px;
  object-fit: cover;
  object-position: 0px -30px;
}

.horizontal_photo
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal_photo1
{

width: 100%;
  height: 180px;
  margin: 0 0 25px 0;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 9px 1px rgba(209,209,209,0.75);
  text-decoration: none;
}

.activites_link_img_hor1
{
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
  object-position: 0px -30px;
}


.activites_link_img_hor2
{
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 18px 18px;
  object-fit: cover;
  object-position: 0px -170px;
}


.description_activites2
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: white;
  position: relative;
  bottom: 50px;
  border-radius: 0 0 20px 20px;
}

.description_activites2 h2
{
  margin: 0;
  font-family:'open_sanssemibold', Arial, sans-serif;
  font-size: 0.9em;
  color: black;
}



/* Footer */

footer
{
 background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 40px 20px 0 20px;
}

#footer
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}


.footer_style
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.footer_style ul
{
    margin: 0 0 25px 0;
  padding: 0;
}

.footer_style li
{
  margin: 0 0 15px 0;
  border: none;
}


.footer_style a
{
  text-decoration: none;
  font-family:'open_sanslight', Arial, sans-serif;
  font-size: 1em;
  color: black;
}

.footer_style h1
{
  margin: 0px 0 20px 0;
}
















